.custom-view-options-nav {
  position: relative;
  padding-left: 5px;
  border-bottom: 1px solid #ddd;

  margin-bottom: 18px !important;

  width: 100%;
}
.custom-active a {

    background-color: green !important;
  
  }
  span:hover {
    color: darkgoldenrod;
  }
  .upload-photo-order {
    cursor: pointer;
    
  }
  .a-button-order {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}
