.circular-avatar-image {
  position: relative;
  height: 220px;
  width: 220px;
  overflow: hidden;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}
.avatar-image {
  min-height: 220px;
  min-width: 220px;
}
.circular-avatar-image-comment {
    position: relative;
    height: 50px;
    width: 50px;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff;
    border-radius: 50%;
  }
.avatar-image-comment {
    min-height: 50px;
    min-width: 50px;
  }
img {
  max-width: 100%;
  border: 0;
}
.image-edit-popover-trigger-holder {
  position: absolute;
  width: 40px;
  height: 25px;
  bottom: 16px;
  right: 90px;
}
.image-edit-avatar {
  cursor: pointer;
}
.a-popover-wrappe {
  overflow: hidden;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  background-color: rgb(241, 7, 7);
}
.edit-name-icon {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
}
.a-popover-inner {
   /* // background-color: #fff; */
    padding: 14px 18px;
    text-align: left;
    overflow-x: hidden;
    height: auto;
    overflow-y: auto;
}
.upload-photo {
    cursor: pointer;
    font-size: inherit!important;
}
.a-row {
    width: 100%;
}
.a-arrow-border {
    top: 0;
    margin-left: -8px;
    border-top: 0;
    border-bottom-color: rgba(0,0,0,.2);
}
.a-arrow {
    top: 1px;
    right: -8px;
    border-top: 0;
}
ion-icon{
    color: darkgoldenrod !important;
    border-color: #febd69 !important;
    font-size: 18px;
}
.profile-at-product-image-container {
    margin: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span:hover{
    color:darkgoldenrod
}