.line {
  border-bottom: 1px solid #e7e7e7;
}

.line2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.card-style {
  width: 100%;
  border: none !important;
  max-width: 18rem;
  height: auto;
  /* max-height: 500px; */
}

.product-title,
.product-title2 {
  font-size: 18px !important;
  line-height: 1.4;
  font-weight: 300;
  font-style: normal;
  color: #111;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-bottom: 0;
}

.product-title:hover {
  text-decoration: none;
  color: #e77600;
}

.price-style:hover {
  color: #111 !important;
}

.pagination li,
.PaginationButtons,
.PaginationButtons:active,
.PaginationButtons:focus {
  margin-right: 6px;
  background-color: #fff;
  display: block;
  float: left;
  line-height: 16px;
  list-style: none;
  position: relative;
  word-wrap: break-word;
  outline: none !important;
}

.pagination li a,
.PaginationButtons,
.PaginationButtons:active,
.PaginationButtons:focus {
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  background: #eff1f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid #6c6e73;
  border-color: #adb1b8 #a2a6ac #8d9096;
  font-weight: 400;
  color: #111;
  padding: 8px 12px 7px 13px;
  outline: none !important;
}

ul.pagination li a:focus,
.PaginationButtons:focus {
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
  outline: 0;
}

/* ul.pagination li a:active {
  border-radius: 3px;
  border-color: #e77600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  background-color: #e7e9ec;
  background-image: none;
  color: #111;
  padding: 8px 12px 7px 13px;
} */

.pagination .page-item.active .page-link {
  border-radius: 3px;
  font-weight: 600;
  color: #c45500 !important;
  border-color: #e77600 !important;
  background-color: #fff !important;
  outline: none !important;
}

ul.pagination li a:hover,
.PaginationButtons:hover {
  background: #e0e3e9;
  background: -webkit-linear-gradient(top, #e7eaf0, #d9dce1);
  background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
  border-color: #a2a6ac #979aa1 #82858a;
  color: #111 !important;
}

.PaginationDiv {
  margin-right: 6px;
  display: block;
  float: left;
  list-style: none;
  position: relative;
  word-wrap: break-word;
  padding: 8px 12px 7px 13px;
  outline: none !important;
}
